<?xml version='1.0' encoding='utf-8'?>
<plugin id="cmp.cordova.cmptool" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cmptool</name>
	<!--
	<dependency id="com.google.playservices@19.0.0"/>
	-->
	<js-module name="cmptool" src="www/cmptool.js">
		<clobbers target="cmptool" />
		<!--
		<clobbers target="cordova.plugins.cmptool" />
		-->
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="cmptool">
				<param name="ios-package" value="cmptool" />
			</feature>
		</config-file>
		<!-- <framework src="src/ios/MobFox.framework" custom="true"/> -->
		<!-- <framework src="libs/google-play-services_lib" custom="true" /> -->
		<!-- OK:
		<source-file src="src/ios/cmptool.m" />
		-->
		<!-- ios is so stupid to copy one by one -->
		<source-file src="src/ios/cmptool.m" />
		<!-- copy the rest -->
		<!--
		<source-file src="src/ios"  target-dir="src"/>
		-->
<hook type="before_plugin_add" src="scripts/BeforePluginAdd_android.js" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="cmptool">
				<param name="android-package" value="cmp.cordova.cmptool" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<!-- <source-file src="src/android/commons-net-2.2.jar" target-dir="libs" framework="true" />  -->
		<!--OK
		<source-file src="src/android/cmptool.java" target-dir="src/cmp/cordova" />
		-->
		<!-- <resource-file src="src/android/res" target="res" />
				 <resource-file src="src/android/assets" target="assets" /> -->
		<source-file src="src/android/cmp" target-dir="src" />
	</platform>
</plugin>
